.post-card-container {
  padding: 24px;
  background-color: #f5f5f5;
  border-radius: 8px;
  width: 200px;
  height: 400px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;

  .image {
    width: 100%;
  }

  .title {
    font-size: 24px;
    margin-bottom: 24px;
    color: #424242;
  }
  .text {
    font-size: 18px;
    margin-bottom: 24px;
    color: #424242;
    overflow: hidden;
    flex-grow: 1;
  }
  .date {
    font-size: 16px;
    color: #0091ea;
  }
}
