.App {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

  margin: auto;
  height: 100vh;
}
.app-container {
  max-width: 1170px;

  margin: auto;
  padding: 30px 0;
}
.app-content {
  margin-top: 60px;
}

.center_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
